/* FOOTER CSS */

body{
  margin:0;
  background:#000;
}

.tymora-footer{
  background:#000;
  color:#8a6d1f;
  padding:30px 48px 40px;
  font-family:'Montserrat',sans-serif;
}

.footer-top{
  display:grid;
  grid-template-columns:1.4fr 1fr 1fr 1fr auto;
  gap:50px;
  align-items:start;
}

.footer-brand h2{
  margin:0 0 20px;
  color:#d4af37;
  font-size:24px;
  letter-spacing:2px;
  font-family:'Cormorant Garamond',serif;
}

.footer-brand p{
  margin:0;
  font-size:9px;
  line-height:1.9;
  color:#7a641d;
}

.footer-icons{
  margin-top:22px;
  display:flex;
  gap:18px;
  font-size:13px;
}

.footer-col h4{
  margin:0 0 22px;
  font-size:9px;
  color:#d4af37;
  letter-spacing:2px;
}

.footer-col a{
  display:block;
  text-decoration:none;
  color:#7a641d;
  font-size:6px;
  margin-bottom:18px;
  letter-spacing:1px;
  transition:.3s;
}

.footer-col a:hover{
  color:#d4af37;
}

.footer-right{
  text-align:right;
}

.footer-icons-top{
  display:flex;
  justify-content:flex-end;
  gap:18px;
  font-size:10px;
  margin-bottom:25px;
  color:#666;
}

.secure-btn{
  background:transparent;
  border:1px solid #1f1f1f;
  color:#d4af37;
  padding:10px 18px;
  font-size:9px;
  letter-spacing:1px;
  cursor:pointer;
}

.footer-line{
  border-top:1px solid #111;
  margin:42px 0 28px;
}

.footer-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap:wrap;
  gap:20px;
}

.footer-bottom p{
  margin:0;
  font-size:9px;
  color:#6e5a1d;
  letter-spacing:1px;
}

.footer-cities{
  display:flex;
  gap:32px;
}

.footer-cities span{
  font-size:9px;
  color:#8a6d1f;
  letter-spacing:1px;
  cursor:pointer;
}

.footer-cities span:hover{
  color:#d4af37;
}